configMapGenerator:
- files:
  - application.yml
  name: 82112224-configmap
resources:
- ../../base
- pvc.yaml
patchesStrategicMerge:
- deployment.yaml
- ingress.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: ceappacr.azurecr.io/82112224
  newTag: "202411191241"
